﻿@{
    ViewData["Title"] = "Home Page";
}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id = "techtest" style = "text-align:center;">
        <div v-if="textamount == '' && error == ''" >
            <input v-model="name" /><br>
            <input v-model="amount" /><br>
            <button v-on:click="stringifyValue">Submit</button>
        </div>
        <div v-if="textamount != '' && error == ''" >
            <p>{{ name }}</p>
            <p>{{ textamount }}</p>
        </div>
        <div v-if="error != ''">
            <p> {{ error }} </p>
        </div>
    </div>
    <script src="js/index.js"></script>
</div>
